.menu{
    position: relative;
    text-align: center;
}
.menu-fixed{
    position: fixed;
}
.menu button{
     background-color: #f5f5f5;
    border-color: #ddd;
    width: 200px;
    margin-bottom: 5px;
}