.table{
    height: 500px;
    background-color: antiquewhite;
    overflow-x: auto;
    overflow-y: auto;
}

.table--components{
    display: inline-flex;
}
.teacher--table{
    display: none;
}
.teacher--table-active{
    display: block;
}

.teachers--surname--letter{
    margin-bottom: 10px;
}