.table{
    height: 500px;
    background-color: antiquewhite;
}

.table--components{
    display: block !important;
}

.teachers--table{
    max-height: 500px;
    overflow-x: auto;
    text-align: center;
    overflow-y: auto;
}
.teacher--table, .teacher--table--active{
    width: auto;
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    margin-top: 20px;
}
.teacher--table{
    display: none;
}
.teacher--table-active{
    margin-top: 20px;
    display: block;
}

.teachers--surname--letter{
    margin-bottom: 10px;
}
label{
    font-weight:800;
}
@media (max-width: 769px) {
    .teacher-table{
    overflow-x: auto
    }

}