.data--header{
    position: relative;
    background-color: #e95420;
    text-align: center;
    font-weight:800;
}
h6{
    margin-top: 20px;
    font-weight: 800;
}
table{
    background-color:#ff420040;
}
.data--header select{
    position: absolute;
    right: 6px;
    margin: 2px;
    width: 100px;
}

.data--section{
    margin: 20px 2px;
}

@media (max-width: 376px) {
    .data--header{
        padding: 15px;
    }
    .data--header select{
        position:relative;
        right:0;
    }
    

}